.edu-wrapper {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
    /* animation: colors 5s linear 0s infinite; */


    /* REMOVE LINE IF HEIGHT PROBLEMS OCCURS */
    margin-top: -40px;
}

/* @keyframes colors {
100% {
    filter: hue-rotate(360deg);
}
} */
.edu {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--pad-y-standard) var(--pad-x-standard);
    padding-bottom: 0;
}

.edu__title {
    text-align: center;
    /* color: #fb6a; */
    font-size: 3.75lh;
    line-height: 1;
    margin: 0 0 1em 0;
    padding: 0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ddd;
    /* color: #fff; */
    z-index: 22;
}

@media (max-width: 560px) {
    .edu__title {
    margin-bottom: 2em;
    font-size: 2lh;
    }
}

@media (max-width: 320px) {
    .edu__title {
    margin-bottom: 2em;
    font-size: 1.5lh;
    }
}

.edu__certificates {
    display: grid;
    grid-template-columns: 1fr;
  /* gap: var(--pad-x-standard); */
    gap: 2em;
}

.edu__certificate {
    position: relative;
    grid-column: 1 / 2;
    overflow: hidden;
}
.edu__certificate img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}
/*  VERIFY CERTIFICATE  */

.edu__certificate--verify {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8lh;
    font-weight: bold;
    background-color: #1115;
    color: #fff;

    transition: transform .1s ease-out;
}

.edu__certificate:hover > .edu__certificate--verify {
    /* opacity: 100; */
    transform: translateX(100%);
}


/*  CERTIFICATE BANNER  */
.edu__certificate--banner {
    position: fixed;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: max-content;
    /* opacity: 0; */
    /* display: none; */
    transition: transform .1s ease-out;
    /* background-color: var(--quartenary-color); */
    background-color: #111e;
    padding: 0 var(--pad-x-standard);
    z-index: 100;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}
.edu__certificate--banner p {
    font-size: 1lh;
}
.edu__certificate:hover > .edu__certificate--banner {
    /* display: block; */
    /* opacity: 100; */
    transform: translateX(100%);
}

@media (min-width: 720px) {
    .edu__certificates {
        /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, max-content);
        /* grid-auto-rows: min-content; */
        gap: var(--pad-x-standard);
    }

    .edu__certificate:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    .edu__certificate:nth-child(2) {
        grid-column: 3 / span 1;
    }
    .edu__certificate:nth-child(3) {
        grid-column: 3 / span 1;
    }
    
    .edu__certificate:nth-child(4) {
        grid-column: 1 / span 1;
    }
    .edu__certificate:nth-child(5) {
        grid-column: 1 / span 1;
    }
    .edu__certificate:nth-child(6) {
        grid-column: 2 / span 2;
        grid-row: 3 / span 2;
    }
    
    .edu__certificate:nth-child(7) {
        grid-column: 1 / span 2;
        grid-row: 5 / span 2;
    }
    .edu__certificate:nth-child(8) {
        grid-column: 3 / span 1;
    }
    .edu__certificate:nth-child(9) {
        grid-column: 3 / span 1;
    }
    
    .edu__certificate:nth-child(10) {
        grid-column: 1 / span 1;
    }
    .edu__certificate:nth-child(11) {
        grid-column: 1 / span 1;
    }
    .edu__certificate:last-child {
        grid-column: 2 / span 2;
        grid-row: 7 / span 2;
    }

    .edu__certificate--banner {
        max-height: none;
        /* overflow-y: initial; */
        max-height: 80%;
        overflow-y: auto;
    }
    .edu__certificate:active > .edu__certificate--banner {
        /* display: block; */
        /* opacity: 100; */
        transform: translateX(100%);
        max-height: none;
        overflow-y: hidden;
    }
}

@media (max-width: 300px) {
    .edu__certificates {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
.edu__certificate h4 {
    color: #fff;
    font-size: 1.2lh;
}
.edu__certificate--verify {
    color: #fff;
    font-size: 1.2lh;
    /* padding-bottom: 1em; */
}
.edu__certificate img {
    display: block;
    width: 100%;
    max-width: 100%;
}


.edu_certificate--techs {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    row-gap: 1em;
}
.edu_certificate--tech {
    font-size: .9lh;
    font-weight: bold;
}

.custom-shape-divider-top-1765804317 {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1765804317 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-top-1765804317 .shape-fill {
    fill: #0F0F0F;
}