.edu-wrapper {
    width: 100%;
    background: url("https://i.postimg.cc/bJgjymyw/playa1-min.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.edu {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--pad-y-standard) var(--pad-x-standard);
    /* background: var(--gradient-summer-fair); */
    /* background: url("/public/playa1.jpeg") no-repeat center;
    background-size:  cover; */
}

.edu__title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 3lh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    color: #fb6a;
}

@media (max-width: 560px) {
  .edu__title {
    margin-bottom: 2em;
    font-size: 2lh;
  }
}

@media (max-width: 320px) {
  .edu__title {
    margin-bottom: 2em;
    font-size: 1.5lh;
  }
}

.edu__certificates--mobile {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--pad-x-standard);
}
@media (max-width: 710px) {
    .edu__certificates--mobile {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 300px) {
    .edu__certificates--mobile {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
.edu__certificate--mobile h4 {
  color: #fff;
  font-size: 1.2lh;
}
.edu__certificate--mobile a {
  color: #d02;
  font-size: 1.2lh;
  /* padding-bottom: 1em; */
}
.edu__certificate--mobile img {
  display: block;
  width: 100%;
  max-width: 100%;
}
