/* MAIN */
.main {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.main__col {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: var(--pad-y-standard) var(--pad-x-standard);
    background-color: var(--quartenary-color);
}

.main__col h2 {
    color: var(--smooth-color);
    margin: 0;
}

/* .main__col p {
    color: var(--smooth-color);
} */

.main__col article>p {
    margin: 1em 0 2em;
}


/* .main__titles {} */
.main__titles h2 {
    font-size: 3lh;
}
.main__titles p {
    margin-bottom: 0;
    font-size: 1lh;
}
/* .main__col article>p {
    margin: 1em 0 0;
} */

@media (max-width: 710px) {
    .main__titles h2 {
        font-size: 2lh;
    }
}