.main__project {
    /* background-color: brown; */
    outline: var(--outline);
    padding: 1em;
}

.main__project img {
    width: 100%;
}

.section--info {
    display: flex;
    gap: 1.5em;
    row-gap: 0;
    flex-wrap: wrap;
}

.section--info article p {
    margin: 1em 0;
}