.main__project {
    width: 100%;
    max-width: 100%;
    /* background-color: brown; */
    /* padding: 1em; */
    transition: transform .1s;
    overflow: hidden;
    cursor: pointer;
}

.main__project img {
    width: 100%;
    transition: transform .1s;
}

.main__project:hover {
    /* background-color: brown; */
    transform: scale(1.1);
}

.main__project:hover > img {
    /* background-color: brown; */
    transform: scale(1.1);
}
