:root {
  --max-width: 1200px;
  --color: #fff;
  --smooth-color: #ccc;
  /* --color: #0079FF; */
  --background-color: #0f0f0f;
  --second-background-color: #0f0f0f;
  --primary-color: #dc1;
  --secondary-color: #5C8374;
  --tertiary-color: #1B4242;
  --quartenary-color: #111;
  --outline: 1px solid #eee;
}
* {
  box-sizing: border-box;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--smooth-color);
}
ul {
  /* color: var(--smooth-color); */
}


.divisor {
  width: 80%;
  height: 1px;
  margin: 3em 0;
  border-radius: 9999px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #eee, #ddd);
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .6em;
}

*::-webkit-scrollbar-track {
  background:  var(--quartenary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  /* border-radius: 0; */
  /* border: 3px solid orange; */
}