:root {
  --max-width: 1200px;
  --color: #fff;
  --smooth-color: #ccc;
  /* --color: #0079FF; */
  --background-color: #0f0f0f;
  --primary-color: #dc1;
  --secondary-color: #5C8374;
  --tertiary-color: #1B4242;
  --quartenary-color: #111;
  --outline: 1px solid #eee;
}
* {
  box-sizing: border-box;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--smooth-color);
}
ul {
  /* color: var(--smooth-color); */
}
.text-left-slash {
  position: relative;
}
.text-left-slash::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
  left: -7px;
}

.text-down-slash {
  position: relative;
}
.text-down-slash::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  left: 0;
  bottom: 3px;
}